<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Journal</title>
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <h1>CSS Journal</h1>
        <hr>
        <h3>Table of contents</h3>
        <ul id="contents-table">

        </ul>

        <section>
            <h2 id="ul">ul</h2>
            <div class="code">
                <p>ul li {</p>
                <p class="indent-1">list-style: none;</p>
                <p>}</p>
            </div>
            <p>Can use this to remove the bullet points</p>
            <div class="code">
                <p>ul li a{</p>
                    <p class="indent-1">text-decoration: none;</p>
                <p>}</p>
            </div>
            <p>This will get rid of the 'a' default colors</p>
        </section>
    </main>
    <script src="../javascript/index.js"></script>
</body>
</html>