<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Journal</title>
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <h1>HTML Journal</h1>
        <hr>
        <h3>Table of Contents</h3>
        <ul id="contents-table">

        </ul>

        <section>
            <h2 id="sc">Misc</h2>
            <p>Can use 'Shift' + '!' in VS code to produce a skeleton html doc.</p>
        </section>
        <section>
            <h2 id="links">Links</h2>
            <p class="code">&lt;link rel=&quot;stylesheet&quot; href=&quot;../styles.css&quot;&gt;</p>
            <p class="code">&lt;script src=&quot;&quot;&gt;&lt;/script&gt;</p>
        </section>
    </main>
    <script src="../javascript/index.js"></script>
</body>
</html>