<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>javascript</title>
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <h1>Javascript</h1>
        <hr>
        <h3>Table of Contents</h3>
        <ul id="contents-table">

        </ul>

        <section>
            <h2 id="arr">Arrays</h2>
            <p class="code">if (columns_to_delete.includes(key))</p>
            <p>Use this to see if a value exists within an array.</p>
        </section>
    </main>
</body>
</html>