<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python</title>
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <h1>Python Journal</h1>
        <hr>
        <h3>Table of contents</h3>
        <ul id="contents-table">
        </ul>

        <section>
            <h2 id="ve">Virtual Environments</h2>
            <p>Commands to remember:</p>
            <p class="code">python -m venv venv</p>
            <p><span class="code">source venv/bin/activate</span> (mac)</p>
            <p><span class="code">source venv/Scripts/activate</span> (windows)</p>
        </section>
        <section>
            <h2 id="dep">Dependencies</h2>
            <div class="block">
                <p class="code">pip install {dependency}</p>
            </div>
            <div class="block">
                <p class="code">pip freeze > requirements.txt</p>
            </div>
            <div class="block">
                <p class="code">pip install -r requirements.txt</p>
            </div>
        </section>
        <section>
            <h2 id="pckg">Packages</h2>
            <ul>
                <li>pandas</li>
                <li>pyautogui</li>
                <li>pyperclip</li>
                <li>selenium</li>
                <li>requests</li>
                <li>random</li>
                <li>json</li>
                <li>beautifulsoup4</li>
                <li>flask</li>
            </ul>
        </section>
        <section>
            <h2 id="dt">Data Types</h2>
            <ul>
                <li>str</li>
                <li>int</li>
                <li>float</li>
                <li>bool</li>
                <li>List</li>
                <li>tuple
                    <ul>
                        <li>Pretty much just a list but you cannont modify them once created</li>
                        <li>More efficient</li>
                        <li class="code">tuple_var = (15, 27)</li>
                    </ul>
                </li>
                <li>dict</li>
            </ul>
        </section>
        <section>
            <h2 id="func">Functions</h2>
            <div class="block">
                <h3>Syntax</h3>
                <p class="code">def {name}({parameters}):</p>
            </div>
            <div class="block">
                <p class="code">def main():</p>
                <div class="code">
                    <p>if __name__ == "__main__":</p>
                    <p class="indent-1">main()</p>
                </div>
                <p>Python executes sequentually therfore, it will generate all the functions before the code within the functions are executed themselvs.</p>
                <p>Placing all code in the `main` function allows you to code with functions and generates all functions before code is executed.</p>
            </div>
            <h3>parameters</h3>
            <p class="code">def func(param1, param2: str, param3=20, param4=True: bool)</p>
        </section>
        <section>
            <h2 id="db">Databases</h2>
            <div class="block">
                <div class="code">
                    <p>import psycopg2
                    <p>import psycopg2.extras

                    <p>class DBConfig:
                        <p class="indent-1">username = 'sports_app'</p>
                        <p class="indent-1">password = 'StarValley307'</p>
                        <p class="indent-1">host = 'svinews.com'</p>
                        <p class="indent-1">database = 'sports'</p>
                        <p class="indent-1">schema = 'public'</p>
                        <p class="indent-1">port = '5432'</p>
                        <p class="indent-1">connection = None</p>
                        <p class="indent-1">cursor = None</p>
                        <p></p>
                        <p class="indent-1">def init(self):</p>
                            <p class="indent-2">connection = psycopg2.connect(</p>
                                <p class="indent-3">database=self.database, user=self.username,password=self.password, host=self.host, port=self.port</p>
                            <p class="indent-2">)</p>
                            <p class="indent-2">self.cursor = connection.cursor(cursor_factory = psycopg2.extras.RealDictCursor)</p>
                </div>
                <div class="code">
                    <p>connection = DBConfig()</p>
                    <p>connection.init()</p>
                    <p></p>
                    <p>connection.cursor.execute("""</p>
                    <p>select name, channel_id </p>
                    <p>from school_content_source;</p>
                    <p>""")</p>
                    <p></p>
                    <p>results = connection.cursor.fetchall()</p>
                </div>
                <p>This is a lightweight database connection approach.</p>
            </div>
        </section>
    </main>
    <script src="../javascript/index.js"></script>
</body>
</html>