<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React Native</title>
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>
    <header>
        <nav></nav>
    </header>
    <main>
        <h1>React Native</h1>
        <hr>
        <h3>Table of Contents</h3>
        <ul id="contents-table">

        </ul>

        <section>
            <h2 id="set">Setup</h2>
            <p class="code">npx create-expo-app AwesomeProject</p>
            <p class="code">npx expo start</p>
            <p>This creates at starts the app using expo. Apparently you can do a native cli route but this way is faster and easier. You connect the build to your phone by using the expo app and scanning the QR code.</p>
        </section>
        <section>
            <h2 id="el">Elements</h2>
            <p>Here are a list of all the elements that I have used</p>
            <ul>
                
            </ul>
        </section>
    </main>
    <script src="../javascript/index.js"></script>
</body>
</html>