<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL</title>
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <h3>Table of contents</h3>
        <ul id="contents-table">

        </ul>

        <section>
            <h2 id="postgres">Postgres Access</h2>
            <p>Loggin as a user. Replace "postgres" with user if necessary.</p>
            <p class="code">sudo -i -u postgres</p>
            <p>Access postgres terminal</p>
            <p class="code">psql</p>
            <p class="code">sudo -u postgres psql</p>
            <p>exit</p>
            <p class="code">\q</p>
        </section>
    </main>
    <script src="../javascript/index.js"></script>
</body>
</html>