<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pyautogui</title>
    <link rel="stylesheet" href="../../stylesheets/index.css">
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <h1 aria-details="component">Pyautogui</h1>
        <hr>
        <h3>
            Table of Contents
        </h3>
        <ul id="contents-table"></ul>

        <section>
            <h2>Overview</h2>
            <p>Pyautogui is a python package that allows you to programatically perform user actions (mouse movements, typing, etc).</p>
            <a href="https://pyautogui.readthedocs.io/en/latest/quickstart.html">Pyautogui Documentation</a>
        </section>
    </main>
    <script src="../../javascript/index.js"></script>
</body>
</html>